
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
     <link rel="stylesheet" href="{% static 'css/a.css' %}">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#">ONLINE MOVIE STORE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

        <form class="d-flex">
            <a  href="{% url 'film:base1' %}" class="btn btn-primary">ADD</a>
<!--{% url 'admin:index' %}-->
      </form>
    </div>
  </div>
</nav>
<div class="row">
{% for i in m %}
    <div class="col-sm-4">
<div class="card " style="width:18rem; margin-left:75px;">
  <img src="{{i.image.url}}" height="200px" width="100%" class="card-img-top" alt="...">
  <div class="card-body">
    <center><h5 class="card-title">{{i.name}}</h5></center>
    <p class="card-text">{{i.des}}</p>
   <center> <a href="{% url 'film:gosomewhere' i.name %}" class="btn btn-primary">Go somewhere</a></center>
  </div>
</div>

        </div>
{% endfor %}
    </div>
 </body>
</html>
{% block content %}
{% endblock %}